.App {
  padding: 100px 30px;
  height: 100vh;
  box-sizing: border-box;

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 400px;
    max-height: calc(100vh - 200px);
    margin: 0 auto;
  }

  &__input-wrapper {
    display: flex;
    margin-bottom: 5px;
  }

  &__input {
    flex-grow: 1;
  }

  &__buttons {
    align-self: center;
  }
}
